<%= simple_form_for(@user) do |f| %>
  <% $contador = 1 %>
  
  	<%= f.fields_for :games do |builder| %>
	  	<%= render "game_fields", :f => builder %>
  	<% end %>
  
  <div class="form-actions">
    <%= f.button :submit %>
  </div>


<% end %>