<p>
	<%= current_user.games.find_by_numeroDoJogo($contador).time1 %>
  <%= f.input_field :score1%>
  <%= f.input_field :score2%>
	<%= current_user.games.find_by_numeroDoJogo($contador).time2 %>
	<% $contador = $contador + 1 %>	
</p>