<h1>Classificação</h1>

<table>
  <tbody>
    <table class="table table-striped" >
          <td>Nome</td>
          <td>Pontos</td>
     <% @users.each do |user| %>
        <tr>
          <td><%= link_to user.email, palpite_path(:id => user.id) %></td>
          <td><%= user.pontos%></td>
        </tr>
      <% end %>
    </table>
  </tbody>
</table>

<br>
