<p> <h3> <b> BOLÃO DA COPA DO MUNDO DO BRASIL 2014 </b></h3></p>

<b>Participação</b></br></br>

<p>A confirmação da participação no Bolão da Copa ocorrerá mediante pagamento de uma Taxa de R$ 30,00 (Trinta Reais), que deverá ser creditado em conta corrente da Caixa Econômica ou do Banco do Brasil.</p>

<p>Caixa Econômica= Agência:1562  Conta Corrente:20168-2</p></br> 

<p>O crédito realizado no Banco carece de confirmação através do comprovante do depósito que poderá ser enviado no próprio site, através do link ''comprovante''.</p></br>
Deverá ser preenchido o cadastro de inscrição no site do Bolão:''http://Bolao2014.herokuapp.com'' no link “Registre-se”.</br>
Os pagamentos devem ser efetuados (devidamente comprovados) até 24 horas antes do começo da Copa, ou seja, às 17hs do dia 11 de junho de 2014, caso contrário, não será possível participar do bolão e seu cadastro será excluido. Lembrando que cada participante poderá realizar quantas apostas desejar. Cada aposta custa R$30,00.</br>

O critério de pontuação será o seguinte: </br>
Critério 1 = acertar placar</br>
Critério 2 = acertar resultado</br>
1-  Se o palpite do participante corresponder ao placar exato do jogo, acertando o vencedor/perdedor ou empate, além de acertar o número de gols marcados por ambas as equipes, ele terá direito a 3 (três) pontos.</br>
2- Se o palpite do participante corresponder somente ao time vencedor ou perdedor do jogo ou ao empate, porém não acertar o exato número de gols marcados pelas equipes, ele terá direito a apenas 1 (um) ponto.</br>

Exemplos:</br>
Um participante apostou em 3 x 2 para o time A e o resultado final do jogo foi 4 x 2 para o time A. Neste caso, será computado apenas 1 (um) ponto, por ter acertado o resultado do jogo em favor do time A.  
Um participante apostou em 2 x 1 para o time A e o resultado final da partida foi exatamente o mesmo, isto é, foi 2 x 1 para o time A. Neste caso, serão computados três pontos, pois ele acertou o resultado do jogo e o exato número de gols marcados pelas equipes.</br>

Observação: O participante poderá alterar o resultado de cada partida até às 17hs do dia 11 de junho de 2014. Os palpites de todos os participantes devem ser registrados até 24 horas antes de começar o torneio, assim, após período indicado não será possível qualquer alteração ou inclusão de palpites.</br>

Critérios de Desempate:</br>
Em caso de acontecer empate entre os participantes, os critérios de desempate serão seguintes:</br>
Quem tiver acertado o maior número de placar durante a primeira fase da copa.</br>
Quem tiver acertado o maior número de resultados a primeira fase da copa.</br>
Quem tiver conseguido a maior pontuação no grupo A (do Brasil).</br>

Premiação</br>
Primeiro colocado: Será premiado com 60 (sessenta)% do valor arrecadado dos participantes.</br>
Segundo colocado: Será premiado com 30 (trinta)% do valor arrecadado dos participantes.</br>
Terceiro colocado: Será premiado com 10 (dez)% do valor arrecadado dos participantes.</br>
Observações gerais</br>
Não haverá possibilidade alguma de realizar a aposta após o período informado.
Esse Bolão é uma brincadeira entre amigos e familiares que gostam de futebol sem nenhum fim lucrativo, uma vez que todo o valor arrecadado será entregue em forma de premiação, conforme as regras já descritas acima. O objetivo é a diversão.  
Façam suas apostas e boa sorte!!! 