<h1>Usuários que não confirmaram pagamento</h1>

<table>
  <tbody>
    <table class="table table-condensed">
          <td>Nome</td>
          <td>Email</td>
     <% @users.each do |user| %>
        <tr>
          <td><%= link_to user.nome, edit_usuario_path(:id => user.id) %></td>
          <td><%= user.email %></td>
        </tr>
      <% end %>
    </table>
  </tbody>
</table>

<br>