<table class="table table-condensed"> 
	<tr>
		<td width=400px></td>
		<td align=center><%= link_to "Regulamento", regras_path %></td>
		<td align=center><%= link_to "Contato", root_path %></td>
		<td align=center><%= link_to "Blablabla", root_path %></td>
		<td width=400px></td>
	</tr>
</table>
